/*
#14264a
#03a8f5
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	line-height: inherit;
	color: inherit;
	background-color:transparent;
}
*:focus{
	outline:none;
}
html, body{
	font-family: "Nunito Sans", "Helvetica Neue", "Helvetica", sans-serif;
	font-size:14px;
	line-height:24px;
	color:#000;
	background-color:#fff;
}
h1{
	color: #14264a;
	font-size:36px;
	line-height:42px;
	margin:10px 3px;
	font-family:"Roboto Slab", Palatino, serif;
	font-weight:bold;
}
a{
	color:inherit;
	text-decoration:underline;
	cursor:pointer;
}
a:hover{
	color:#03a8f5;
}

.colheaders th{
	background-color:#14264a;
	font-weight:bold;
	color:#fff;
	text-align:center;
	border-right:1px solid #777;
}
.colheaders input{
	background-color:transparent;
	padding:0;
	border:0;
	border-bottom:1px dotted #fff;
	border-radius:0;
	color:#fff;
}
.colheaders button{
	background-color:#999;
	color:#fff;
	border-color:#777;
	font-weight:normal;
}
[sortDirection]{
	cursor:pointer;
	text-decoration:underline;
}
[sortDirection]:before{
	color:#aaa;
}
[sortDirection="asc"]:before{
	content: "\2191  ";
}
[sortDirection="desc"]:before{
	content: "\2193  ";
}
[isCurrentlySorted]{
	background-color:#ff6 !important;
	color:#000 !important;
}
.subheaders > *{
	border:0;
	background-color:#ccc;
	border-right:1px solid #aaa;
}
table{
	width:100%;
	min-width:800px;
}
table, th, td{
	border-collapse:collapse;
}
th, td{
	vertical-align: top;
	text-align: left;
	padding:5px;
	overflow:hidden;
}
tr label{
	display:flex;
	height:100%;
}
tr input{
	flex-grow:1;
	flex-shrink:1;
}
tr.body > *{
	border-right:1px solid #ddd;
}
p, label{
	display:block;
	padding:0 3px;
	margin:10px 0;
}
.number,
.date{
	text-align:right;
}
input:not(:last-child),
button:not(:last-child){
	margin-right:3px;
}
input,
textarea{
	border-bottom:1px dotted #000;
}
::placeholder{
	color:#ccc;
}
input:focus,
textarea:focus{
	outline:none;
	background-color:#eee;
}
textarea{
	height:100px;
}
input[type="checkbox"]{
	display:inline-block;
	margin:0 5px;
}
input[type="number"]{
	text-align:right;
	-moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button{
	cursor:pointer;
	color:#14264a;
	border-radius:3px;
	border:1px solid #ccc;
	background-color:#f0f0f0;
	border-width:0 0 1px 1px;
	text-align:center;
	padding:0 10px;
	box-sizing:border-box;
}
button:not(:first-child){
	margin-left:3px;
}
button:hover{
	background-color:#999;
}
.editor{
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.shadow{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
}
.editor > div{
	display:block;
	position:relative;
	margin:10px auto;
	padding:10px;
	width:320px;
	background-color:#fff;
	border-radius:5px;
	box-shadow:0 0 30px 3px #333;
}
.editor .cancel{
	float:right;
	font-size:0;
	text-decoration:none;
}
.editor .cancel:after{
	font-size:24px;
	content:'\00d7';
	color:#666;
	font-weight:bold;
}
.editor button{
	display:block;
}
.editor label,
.editor button{
	width:100%;
	margin:5px auto 10px auto;
}
.editor label{
	display:flex;
}
.editor label span{
	padding-right:5px;
}
.editor label span:after{
	content:':';
}
.editor label.date span:after{
	content:'';
}
.editor label input,
.editor label textarea{
	flex-grow:1;
}
.editor .date{
	display:flex;
}
.editor .date input{
	width:1em;
	flex-grow:1;
	flex-shrink:1;
}
[highlight=true] > *,
[highlight-toggle]:hover{
	background-color:#ff6 !important;
}
[highlight-toggle]{
	cursor:pointer;
}
.revenue{
	background-color:#f6f6f6;
}
