table, td, th{
	vertical-align: top;
	text-align: left;
	border-collapse:collapse;
	border:1px solid #aaa;
}
th, td{
	padding:3px 5px;
}
th{
	background-color:#ddd;
}
[sorting]{
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}
[sorting=""]{
	color:black;
}
[sorting="asc"]:after{
	content: " \2191";
}
[sorting="desc"]:after{
	content: " \2193";
}
